@media (max-width: 768px) {
    body {
        padding-top: 150px;
        margin-bottom: 40px;
    }
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
}

body {
    overflow-x: hidden;
}

.container,
.container-fluid {
    overflow-x: hidden;
}


.cuisine-button {
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.cuisine-button img {
    max-width: 80px;
    height: auto;
}

.cuisine-button .figure-caption {
    font-size: 1rem;
    font-weight: 600;
}

.cuisine-button .figure {
    margin-bottom: 0.5rem;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.carousel-control-prev,
.carousel-control-next {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.success {
    color: green;
}

.error {
    color: red;
}

.toast {
    z-index: 9999;

}

.img-full-viewport {
    width: 100%;
    height: auto;
}

.landing-page {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.landing-page .text-overlay {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}


.landing-page h1,
.landing-page h2 {
    margin: 0;
    padding: 0;
}

.landing-page h1 {
    font-size: 8rem;

}

.landing-page h2 {
    font-size: 6.5rem;

}

.shadow-text {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

}

@media (max-width: 768px) {
    .landing-page h1 {
        font-size: 4rem;
    }

    .landing-page h2 {
        font-size: 3rem;
    }
}