<connectionStrings>
	<add name="devconn" connectionString="Server=.\SQLExpress;Database=HeartyHearthDB;" />
	<add name="liveconn" connectionString="Server=tcp:zissysilber.database.windows.net,1433;Initial Catalog=HeartyHearthDB;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
</connectionStrings>