<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RecipeWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings configSource="App.secret.config"/>
 <userSettings>
  <RecipeWinForms.Properties.Settings>
   <setting name="userid" serializeAs="String">
    <value />
   </setting>
  </RecipeWinForms.Properties.Settings>
 </userSettings>
</configuration>

<!--
connection should be in App.secret.config which is git ignored
the secret.config should have a connectionstring called devconn
-->